.App {
    text-align: center;
    font-family: arial;
    align-items: center;
}
.flexbox {
    display: flex;
    flex: column;
    justify-content: center;
}
.header {
    display: flex;
    font-size: 40pt;
    line-height: 38pt;
    font-weight: normal;
    letter-spacing: -2pt;
    align-items: center;
    /* padding-left: 300px;; */
    justify-content: center;
}
.toiletpaper {
    height: 100px;
    width: 90px; 
}
.user-icon {
    height: 50px;
    width: 70px;
    position: right;
}
.restroom-page {
    justify-content: center;
    max-width: 475px;
}
.border-bottom {
    border-bottom: 1px solid black;
}

.logo {
    height: 70px;
    width: 60px;
    margin: 0px;
    padding-right: 30px;
}
.add-restroom {
    padding: 10px;
    font-size: 12pt;
    color: white;
    border: 1px black solid;
    background-color: black;
    border-radius: 10px;
}
.add-restroom:hover {
    border-left: solid black 1px;
}
.restroom-list {
    text-align: left;
    font-family: arial;
    width: 300px;
    font-size: 14pt;

}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
    border-left: solid black 5px;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.info {
    font-size: 18pt;
    /* border: black 3px solid; */
}
.comment {
    /* overflow: scroll;
    height: 40px;
    border: black 1px solid; */
    text-align: left;
    max-width: 400px;
}
img {
    border-radius: 8px;
    width: 400px;
    height: 250px;
}
.restroom-name {
    font-size: 28pt;
    letter-spacing: -2pt;
}
button {
    /* border: none; */
    padding: 10px;
    font-size: 12pt;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 10px;
    border-color: #f1f1f1
}
.pop-up {
    /* display: none; */
    position: absolute;
    bottom: 5%;
    right: 13%;
    z-index: 9;
}
button:hover {
    color: grey;
    /* border-left: 3px solid black; */
    /* font-weight: bold; */
    /* padding: 0; */

}
textarea {
    border: 3px black solid;
    width: 300px;
    height: 100px;
    margin-top: 30px;
    
}
.submit {
    display: block;
    border: black 2px solid;
    border-radius: 8px;
    padding: 10px;

}
.comment-list {
    overflow: scroll;
    height: 100px;
}
label {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 20px;
}
  

::-webkit-scrollbar-track {
    background: #fff;
}
  
::-webkit-scrollbar-thumb {
    background: #000;
}
::-webkit-scrollbar-button {
    color: black;
}