
* {
    margin: 0;
    padding: 0;
}
.App.dark {
    --font-color: white;
    --background-color: black;
}
.flexbox {
    display: flex;
    flex: column;
    justify-content: center;
    /* max-height: 600px; */

}
.header {
    display: flex;
    font-size: 40pt;
    line-height: 2pt;
    font-weight: normal;
    letter-spacing: -2pt;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-size: 36pt;
    font-weight: normal;
    letter-spacing: -4pt;
    color: grey;
    padding: 0px;
    margin: 0px;;
    padding-bottom: 60px;
    padding-left: 475px;
}
h3 {
    font-size: 16pt;
    padding-bottom: 3px;
    padding-top: 10px;
    letter-spacing: -2px;
    /* text-decoration: underline; */
}
.toiletpaper {
    height: 100px;
    width: 90px; 
}
button.delete-button {
    width: 100%;
    background-color: #383838;
    color: white;
    margin-left: 0;
}
.restroom-page {
    justify-content: center;
    max-width: 480px;

}
.border-bottom {
    border-bottom: 1px solid black;
}

.logo {
    /* height: 70px;
    width: 60px; */
    margin: 0px;
    height: 35px;
    width: 30px;
    padding-right: 5px;
    /* padding-bottom: 10px; */
}
.restroom-list {
    text-align: left;
    font-family: arial;
    width: 300px;
    font-size: 14pt;
    overflow: scroll;

}
p {
    margin: 0;
    text-align: left;
}
a.dark {
    --font-color: #999999;
    --background-color: black;
    color: var(--font-color);
}
a.dark:hover {
    border-left: solid white 5px;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.info {
    font-size: 14pt;
    /* border: black 3px solid; */
}
img {
    border-radius: 8px;
    width: 480px;
    height: 280px;
}
.restroom-name {
    font-size: 28pt;
    letter-spacing: -2pt;
    text-align: center;
}
button.dark {    
    /* border: none; */
    /* padding: 10px; */
    font-size: 12pt;
    margin-left: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    border: none;
    /* border-color: #f1f1f1 */
    --font-color: #999999;
    --background-color: black;
    color: var(--font-color);
    background-color: var(--background-color);

}
.pop-up {
    /* display: none; */
    position: absolute;
    bottom: 0;
    right: 40%;
    z-index: 9;
}
textarea.dark { 
    border: 3px black solid;
    width: 400px;
    height: 200px;
    margin-top: 30px;
    --font-color: #999999;
    --background-color: black;
    --border-color: white;
    color: var(--font-color);
    background-color: var(--background-color);
    border-color: var(--border-color);
}
.submit.dark {    
    display: block;
    align-items: right;
    border: black 2px solid;
    border-radius: 8px;
    margin: 0;
    width: 400px;
    --font-color: #999999;
    --background-color: black;
    color: var(--font-color);
    background-color: var(--background-color);

}
/* .add-comment {
    border: none;
    border-left: 3px black solid;
    border-right: 3px black solid;
} */
.comment-list {
    overflow: scroll;
    height: 100px;
    font-size: 12pt;
}
label {
    font-weight: bold;
    text-align: left;
}
.comment-section {
    font-size: 18pt;
    letter-spacing: -2px;
    padding-bottom: 5px;
    /* text-decoration: underline;  */
}
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #383838;
    outline: black;
    border-radius: 10px;
  }

/* ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
::-webkit-scrollbar-thumb {
    background: #fff;
    outline: 3px solid black;
}
::-webkit-scrollbar-button {
    color: black;
} */